<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A REST APIs website that provides a wide variety of features for developers.">
    <meta name="robots" content="archive, follow, imageindex, index, odp, snippet, translate">
    <meta name="author" content="zxagung">
    <title>ZxY - REST APIs</title>
    <meta property="og:site_name" name="og:site_name" content="ZxY APIs">
    <meta property="og:title" name="og:title" content="ZxY - REST APIs">
    <meta property="og:url" name="og:url" content="https://apixxy.herokuapp.com/">
    <meta property="og:image" name="og:image" content="/views/favicon.ico">
    <meta property="og:description" name="og:description" content="A REST APIs website that provides a wide variety of features for developers.">
    <link rel="apple-touch-icon" sizes="57×57" href="https://h4ck3rs404-api.herokuapp.com/image/bg.jfif">
    <link rel="apple-touch-icon" sizes="57×57" href="https://h4ck3rs404-api.herokuapp.com/image/bg.jfif">
    <link rel="apple-touch-icon" sizes="57×57" href="https://h4ck3rs404-api.herokuapp.com/image/bg.jfif">
    <link rel="apple-touch-icon" sizes="57×57" href="https://h4ck3rs404-api.herokuapp.com/image/bg.jfif">
    <link rel="apple-touch-icon" sizes="57×57" href="https://h4ck3rs404-api.herokuapp.com/image/bg.jfif">
    <link rel="apple-touch-icon" sizes="57×57" href="https://h4ck3rs404-api.herokuapp.com/image/bg.jfif">
    <link rel="apple-touch-icon" sizes="57×57" href="https://h4ck3rs404-api.herokuapp.com/image/bg.jfif">
    <link rel="apple-touch-icon" sizes="57×57" href="https://h4ck3rs404-api.herokuapp.com/image/bg.jfif">
    <link rel="apple-touch-icon" sizes="57×57" href="https://h4ck3rs404-api.herokuapp.com/image/bg.jfif">
    <link rel="shortcut icon" type="image/x-icon" href="/views/favicon.ico">
    <link rel="icon" type="image/png" sizes="192x192" href="/views/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="/views/favicon.ico">
    <link rel="icon" type="image/png" sizes="96x96" href="/views/favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="/views/favicon.ico">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="https://h4ck3rs404-api.herokuapp.com/image/bg.jfif">
    <meta name="theme-color" content="#ffffff">
    <link rel="canonical" href="https://apixxy.herokuapp.com/">
    <link rel="stylesheet" href="https://h4ck3rs404-api.herokuapp.com/css/all.min.css" type="text/css">
    <link rel="stylesheet" href="https://h4ck3rs404-api.herokuapp.com/css/home.css">
</head>

<body>
    <div class="text">
        <div class="status">
            <p>API STATUS: <span class="typed-text"></span><span class="cursor typing"></span></p>
        </div>
        <hr>
        <div class="readdocs">
            <p>Read <a href="docs" class="docs">Docs.</a></p>
        </div>
    </div>
    <div class="bottom">
        <p>
            <a href="https://wa.me/6289655478810" target="_blank" rel="noopener noreferrer" class="nav-link"><i data-feather="github" aria-hidden="true"></i> WhatsApp</a>
        </p>
    </div>
<script src="https://h4ck3rs404-api.herokuapp.com/js/sci.js"></script>

</html>
